/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.logo__link:focus {
  outline: none;
}

.additional__settings-buttons:focus {
  outline: none;
}

.animation__buttons {
  transition: box-shadow 0.5s ease;
}

.animation__buttons:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__like-button:focus-visible {
  outline: none;
}

.additional__settings-buttons:hover {
  cursor: pointer;
}

.animation__buttons::before {
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: var(--accent-color);
  transform-origin: 0% 100%;
  left: 0;
  display: block;
  content: "";
  position: absolute;
}

.save__button::before {
  height: 100%;
  top: 0;
}

.close__button::before {
  height: 38px;
}

.card__like-button::before {
  height: 34.6px;
}

.animation__buttons:hover::before {
  transition: transform 0.5s ease-in-out;
  transform-origin: 0% 100%;
  left: 0;
  transform: scaleX(1);
  background-color: var(--accent-color);
}

.close__button:hover::before {
  height: 38px;
}

.save__button:hover::before {
  height: 100%;
  top: 0;
}

.card__like-button:hover::before {
  height: 34.6px;
}

.like__button {
  transition: border 0.3s ease;
  border: 2px solid transparent;
}

.like__button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.core {
  transition: fill 0.3s linear 0.03s;
  fill: transparent;
}

.contour {
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--accent-color);
}

.heart:hover .core {
  transition: fill 0.3s linear;
  fill: var(--accent-color);
}

.heart:active .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--icon-color-main-body-sparks);
}

.heart:active .core {
  transition: fill 0.3s linear;
  fill: var(--icon-color-main-body-sparks);
}

.heart:active .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--icon-color-main-body-sparks);
}

.heart:active {
  animation: scale 0.3s ease-in 0.1s 1 alternate;
  transform-origin: 50% 50%;
}

.like-icon:active .sparks {
  animation: opacity 0.3s ease-in 0.3s 1 alternate;
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
